

body, html {
  margin: 0;
  padding: 0;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: white; /* Cambia esto al color que prefieras */
  position: fixed; /* Fija el header en la parte superior */
  top: 0; /* Se coloca en la parte superior */
  left: 0; /* Asegura que empiece desde el borde izquierdo */
  right: 0; /* Asegura que se extienda hasta el borde derecho */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle profundidad */
}

/* Estilos para los enlaces del navbar */
.nav-link-spacing {
  margin: 0 30px; /* Ajusta este valor según sea necesario */
  margin-top: 15px;
  color: #5d6164; /* Color de texto inicial */
  text-decoration: none; /* Elimina la barra subrayada */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Estilo para el enlace cuando el ratón está sobre él */
.nav-link-spacing:hover {
  color: #a9a9a9; /* Color gris clarito cuando se pasa el ratón */
}

#nav-button {
  margin-top: 10px;
  background-color: #5d6164; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 8px 18px; /* Ajusta el relleno interno */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center;
  text-decoration: none; /* Quita el subrayado del enlace */
}

#nav-button:hover {
  background-color: #7b8086; /* Color de fondo al pasar el ratón */
}




/* BODY */ 

.body-container {
  margin: 0;
  padding: 0;
}

.welcome-section {
  position: relative;
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  min-height: 100vh; /* Asegura que ocupe todo el alto de la pantalla */
  background-size: cover; /* Asegura que la imagen cubra el contenedor completo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.welcome-content {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 2;
}

.welcome-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* Filtro oscuro */
  z-index: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  padding: 20px 40px; /* Ajusta el espacio alrededor del texto */
  border-radius: 10px; /* Bordes redondeados opcionales */
  display: inline-block; /* Mantiene el tamaño del bloque solo alrededor del texto */
}

.overlay h1,
.overlay p {
  color: white; /* El texto será blanco para un mejor contraste */
}

.welcome-section, .second-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-top: 40px;
  min-height: 100vh;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-container {
  flex: 1;
  padding: 0 20px;
  margin-left: 30px;
}

.text-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1.2rem;
  line-height: 1.6;
}


/* App.css */

/* Servicios SECTION*/

/* App.css */

.services-section {
  display: flex;
  flex-direction: column;
   /* Centra horizontalmente todo el contenido */
  padding-left: 20px;
  padding-top: 20px;
}

.services-title {
  margin: 0;
  padding: 40px 0;
/* Centra el título */
}

.services-content {
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 80px; /* Espacio entre la imagen, el texto y el botón */
  margin-top: 20px;
}

.image-frame {
  border-radius: 10px;
  width: 250px;
  height: auto;
  text-align: center;
}

.services-image {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

.services-text-container {
  flex: 1;
  max-width: 600px;
  text-align: left;
}

.button-container {
  align-self: flex-start;
  margin-top: 40px; /* Alinea el botón al principio del contenedor */
}

.read-more-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #0056b3;
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .services-content {
    flex-direction: column;
    gap: 20px;
  }

  .services-text-container, 
  .button-container {
    width: 100%; /* Hacer que el texto y el botón ocupen todo el ancho */
  }
}


/*GALLERY SECTION*/



/* Estilos generales de la nueva sección */
/* App.css */

/* Estilos generales de la nueva sección */
.new-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px; /* Ajusta el padding si es necesario para el diseño */
  box-sizing: border-box;
}

.new-section-title {
  text-align: center;
  margin-bottom: 30px;
}

.new-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra todo verticalmente */
  width: 100%;
  max-width: 1200px; /* Ajusta según el diseño de tu sitio */
  min-height: 400px; /* Ajusta la altura mínima según sea necesario */
}

/* Estilo para el texto y el botón */
.new-section-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  max-width: 50%;
  padding-right: 20px; /* Espacio entre el texto y la imagen */
  box-sizing: border-box;
}

.new-section-text-container p {
  margin-bottom: 20px;
  text-align: left;
  font-size: calc(1rem + 1vw); /* Ajusta el tamaño del texto en función del ancho de la ventana */
}

.new-section-button {
  padding: 10px 20px;
  background-color: #e59515;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: calc(0.875rem + 0.5vw); /* Ajusta el tamaño de la fuente del botón en función del ancho de la ventana */
}

.new-section-button:hover {
  background-color: #ffbe0b;
}

/* Estilo para la imagen */
.new-section-image-frame {
  flex: 1;
  width: 50%; /* Ocupa el 50% de la pantalla */
  text-align: center;
  overflow: hidden; /* Asegura que la imagen no se desborde del contenedor */
  position: relative;
}

.new-section-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.new-section-image-frame:hover .new-section-image {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra para el efecto de profundidad */
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .new-section-content {
    flex-direction: column;
    align-items: center;
  }

  .new-section-text-container,
  .new-section-image-frame {
    width: 100%;
    padding-right: 0;
  }

  .new-section-text-container {
    text-align: center;
  }

  .new-section-image-frame {
    margin-top: 20px;
  }
}
